* {
  width: 100% auto;
  box-sizing: border-box;
}

body{
  background-color: aqua;
  font-family:'Courier New', Courier, monospace;
  margin: 0%;
}


.title-box{
  background-color:#2CB9FF;
  padding:5px;
  border-radius:10px 0px 0px;
  border-top-right-radius:10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

}

.intro{
  background-color: aqua;
  padding: 20px;
}

#img{
  border-radius: 100%;
  border: 5px solid black;
}

#navbar{
  background-color: black;
  margin-top: -19px;
  padding: 10px;
  position:sticky;
  top: 0px;
}
#navbar ul{
  list-style: none;
}

#navbar li{
  display: inline;
  padding-right: 20px;
}
#navbar a{
  padding-right:20%;
}

#navbar h3{
  padding-bottom:2px;
  padding-top:5px;
}

a {
  color:rgb(4, 91, 94);
}

.main-container{
  display:flex;
  
}
.container{
  line-height:2em;
  margin:10px;
  flex:5;
}

.box-1{
  background-color:#7DF9C2;
  border-radius:10px;
  border: 1px solid black;
  padding:10px;

}

.box-2{
  background-color:#3FC08D;
  border-radius:10px;
  border: 1px solid black;
  padding:10px;


}

.box-3{
  background-color:#008A5A;
  border-radius:10px;
  border: 1px solid black;
  padding:10px;

}

.footer{
  background-color:#79E9AD;
  border-radius:10px;
  border: 1px solid black;
  padding:10px;
  text-decoration: none;
}

