*{
  margin-left:0.5%;

 }

body{
  background-color: aqua;
  font-family:'Courier New', Courier, monospace;
}

#bucket{
  display: grid;
  grid-template-columns: 30% 70%;
}

.left-content{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  margin-right: 5%;
}

header{
  border-right: 1px solid black;
}

/*covers main content*/
.right-content:hover{
}

.intro{

  background-color: aqua;
}

#img{
  border-radius: 100%;
  border: 5px solid black;
}

#navbar{
  background-color: black;
  padding: 10px;
  position:sticky;
  top: 0px;
}
#navbar ul{
  list-style: none;
}

#navbar li{
  display: inline;
  padding-right: 20%;
}
#navbar a:hover{
  color:blue;
}

#navbar h3{
  padding-bottom:2px;
  padding-top:5px;
}

a {
  color:rgb(4, 91, 94);
  text-decoration: none;
}

/*around all the boxes*/
.container{
  line-height:2em;
  margin:10px;
}

.box-1{
  background-color:#7DF9C2;
  border-radius:10px;
  border: 1px solid black;
  padding:10px;

}

.box-2{
  background-color:#3FC08D;
  border-radius:10px;
  border: 1px solid black;
  padding:10px;


}

.box-3{
  background-color:#008A5A;
  border-radius:10px;
  border: 1px solid black;
  padding:10px;

}

.foot{
  background-color:#79E9AD;
  border-radius:10px;
  border: 1px solid black;
  padding:10px;
  text-decoration: none !important;
}

.forms{
   border: 1px solid black;
   border-radius: 10px;
   padding:10px;
}